.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;

	&__title {
		margin: 0;
		color: white;
	}

	&__nav {
		display: flex;
	}

	&__link {
		color: #090c0d;

		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}
